body {
  background-color: black;
  font-family: Halvetica;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}

.header {
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
}

.logo img {
  height: 50px;
}

.logo {
  margin-left: 10px;
  flex-grow: 1;
  display: flex;
}

.main {
  display: flex;
  justify-content: center;
  position: relative;
  top: 69px;
}

.main_img {
  background-image: url("../images/img-mission-background.jpg");
  text-align: center;
  vertical-align: middle;
  width: 1200px;
  height: 700px;
}

nav span{
  text-decoration: underline;
  padding-right: 20px;
}
